{{- $tocConfig := dict "enabled" false "position" "center" "pinned" false -}}

{{- if .IsPage -}}
  {{- $globalEnabled := true -}}
  {{- $globalPosition := "center" -}}
  {{- $globalPinned := false -}}

  {{- $globalToc := .Site.Params.toc | default dict -}}
  {{- if isset $globalToc "enabled" -}}
    {{- $globalEnabled = $globalToc.enabled -}}
  {{- end -}}
  {{- if isset $globalToc "position" -}}
    {{- $globalPosition = $globalToc.position -}}
  {{- end -}}
  {{- if isset $globalToc "pinned" -}}
    {{- $globalPinned = $globalToc.pinned -}}
  {{- end -}}

  {{- $pageEnabled := $globalEnabled -}}
  {{- $pagePosition := $globalPosition -}}
  {{- $pagePinned := $globalPinned -}}

  {{- if isset .Params "toc" -}}
    {{- if reflect.IsMap .Params.toc -}}
      {{- if isset .Params.toc "enabled" -}}
        {{- $pageEnabled = .Params.toc.enabled -}}
      {{- end -}}
      {{- if isset .Params.toc "position" -}}
        {{- $pagePosition = .Params.toc.position -}}
      {{- end -}}
      {{- if isset .Params.toc "pinned" -}}
        {{- $pagePinned = .Params.toc.pinned -}}
      {{- end -}}
    {{- else -}}
      {{- $pageEnabled = .Params.toc -}}
    {{- end -}}
  {{- end -}}

  {{/* pinned 只对 side 模式有意义 */}}
  {{- $resolvedPinned := and $pageEnabled $pagePinned (eq $pagePosition "side") -}}

  {{- $tocConfig = dict "enabled" $pageEnabled "position" $pagePosition "pinned" $resolvedPinned -}}
{{- end -}}

{{- return $tocConfig -}}
